/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1560px) {
	.logo img {
		width: 290px;
	}
	.social-list li {
		margin-right: 17px;
	}
	.menu a {
		height: 80px;
	}
	.descr-big {
		font-size: 35px;  
		line-height: 50px;
	}
	.title-big {
		font-size: 56px;
		line-height: 81px;
	}
	.descr-middle {
		font-size: 26px;
		line-height: 38px;
	}
	.billbord .descr-middle {
		margin-bottom: 33px;
		max-width: 364px;
	}
	.name-form {
		font-size: 17px;
		line-height: 28px;
	}
	.billbord {
		padding-top: 60px;
		padding-bottom: 30px;
		min-height: 590px;
	}
	.location-main strong {
		font-size: 15px;
	}
	.item-advantage__title {
		font-size: 25px;
		line-height: 39px;
	}
	.item-advantage__icon {
		margin-right: 28px;
	}
	.item-advantage__head {
		margin-bottom: 25px;
	}
	.row_advantages {
		margin: 0 -40px;
	}
	.row_advantages > div {
		padding: 0 40px;
	}
	.content-section {
		padding: 35px 45px;
		padding-bottom: 50px;
	}
	.row_categories > div:nth-child(3) .item-category ul {
		margin-right: -25px;
	}
	body {
		font-size: 15px;
	}
	.item-category__image {
		transform: scale(0.9);
		transform-origin: 100% 100%;
	}
	.row_categories > div:nth-child(4) .item-category__image, .row_categories > div:nth-child(2) .item-category__image {
		transform-origin: 50% 100%;
	}
	.item-category__title {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 12px;
	}
	.categories .content-section::after {
		width: 960px;
		height: 960px;
		top: 0;
	}
	.selection-block {
		padding: 40px 50px;
	}
	.title-block {
		font-size: 36px;
		line-height: 53px;
	}
	.descr-block {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 25px;
	}
	.selection-block__image {
		bottom: -42px;
	}
	.item-catalog__title {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.price-main span {
		font-size: 18px;
	}
	.item-catalog {
		padding: 15px;
		padding-bottom: 20px;
	}
	.dealer-block {
		padding: 45px 65px;
		margin-bottom: 40px;
	}
	.dealer-block__image img {
		max-width: 1300px;
	}
	.dealer-block__image {
		left: 220px;
	}
	.about .row_advantages > div {
		margin-bottom: 70px;
		padding: 0 50px;
	}
	.about .row_advantages {
		margin: 0 -50px;
	}
	.about {
		padding-bottom: 20px;
	}
	.image-map {
		right: -313px;
	}
	.about-team {
		margin-top: 103px;
		margin-bottom: 169px;
		max-width: 240px;
	}
	.item-number {
		margin-top: 30px;
		margin-left: 35px;
	}
	.item-team__image {
		height: 203px;
	}
	.clients .title-section {
		padding-bottom: 40px;
	}
	.item-client {
		height: 140px;
	}
	.consultation-block {
		padding: 75px;
	}
	.contact-block {
		height: 490px;
		font-size: 13px;
		line-height: 20px;
		padding-top: 14px;
		padding-right: 25px;
	}
	.header {
		font-size: 13px;
	}
	.phones-list {
		font-size: 15px;
	}
	.btn-page {
		font-size: 13px;
		height: 39px;
	}
	.sandwich span {
		width: 43px;
	}
	.sandwich {
		width: 43px;
	}
	.footer__line .btn-page {
		margin-right: 31px;
	}
	.header.nav-up {
		transform: translateY(-175px);
	}
	.wrapper {
		padding-top: 170px;
	}
	.descr-section {
		font-size: 17px;
	}
	.page-contacts .content-section {
		padding-left:50px;
		padding-right: 50px;
	}
	.item-news__content {
		padding: 20px 30px;
	}
	.item-news__text {
		font-size: 16px;
		line-height: 26px;
	}
	.item-news__date {
		font-size: 14px;
		padding: 7px 13px;
	}
	.item-news__image {
		height: 240px;
	}
	.article-content h1 {
		font-size: 36px;
		line-height: 53px;
	}
	.item-portfolio__image {
		height: 385px;
	}
	.item-sertificat {
		height: 295px;
	}
	.text-big {
		font-size: 16px;
	}
	.page-about .content-section .text-big {
		margin-bottom: 15px;
	}
	.list-simple li {
		margin-bottom: 10px;
	}
	.team-about {
		padding-bottom: 60px;
	}
	.item-nav__head {
		padding: 15px 30px;
		font-size: 18px;
		line-height: 26px;
		padding-right: 10px;
	}
	.item-nav__head::before {
		left: 10px; 
	}
	.item-nav__content {
		padding-left: 30px;
	}
	.item-nav {
		margin-right: 45px;
	}
	.page-catalog .content-section .col-lg-8.col_pl {
		padding-right: 0;
	}
	.content-catalog {
		margin-left: -30px;
	}
	.section-text {
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 55px;
	}
	.card .title-section {
		padding-bottom: 35px;
	}
	.price-card {
		font-size: 22px;
		line-height: 31px;
		margin-bottom: 23px;
	}
	.features-card {
		margin-bottom: 28px;
	}
	.item-approach {
		font-size: 22px;
		line-height: 31px;
		margin-bottom: 35px;
	}
	.slider-catalog .slick-prev, .slider-portfolio .slick-prev {
		left: -15px;
	}
	.slider-catalog .slick-next, .slider-portfolio .slick-next {
		right: -15px;
	}
	.thanks-block__image img {
		max-width: 1200px;
	}
	.thanks-block__title {
		font-size: 58px;
		line-height: 80px;
		padding-bottom: 12px;
	}
	.thanks-block__descr {
		font-size: 28px;
		line-height: 40px;
		padding-bottom: 43px;
		max-width: 380px;
	}
}


@media only screen and (max-width : 1300px) {
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.logo img {
		width: 250px;
	}
	.row_advantages {
		margin: 0 -20px;
	}
	.row_advantages > div {
		padding: 0 20px;
	}
	.content-section {
		padding: 30px;
		padding-bottom: 35px;
	}
	.item-category {
		padding: 25px 30px;
		min-height: 340px;
		line-height: 20px;
	}
	.item-category__image {
		transform: scale(0.8);
	}
	.item-category__title::before {
		margin-right: 4px;
	}
	.item-category__title {
		font-size: 17px;
		line-height: 24px;
	}
	.categories .content-section::after {
		width: 800px;
		height: 800px;
	}
	.title-block {
		font-size: 32px;
		line-height: 48px;
	}
	.item-catalog .btn-main {
		padding: 0 20px;
		font-size: 13px;
	}
	.link-page {
		font-size: 12px;
	}
	.item-dealer__image {
		max-width: 200px;
	}
	.about .row_advantages > div {
		margin-bottom: 60px;
		padding: 0 30px;
	}
	.about .row_advantages {
		margin: 0 -30px;
	}
	.about .item-advantage__title {
		white-space: normal;
	}
	.about .item-advantage__title {
		font-size: 20px;
		line-height: 29px;
	}
	.title-section {
		font-size: 33px;
		line-height: 46px;
	}
	.image-map img {
		max-width: 670px;
	}
	.image-map {
		right: -267px;
	}
	.item-team__image {
		height: 187px;
	}
	.item-number__value {
		font-size: 42px;
		line-height: 62px;
	}
	.item-number {
		max-width: 296px;
	}
	.about-team {
		margin-bottom: 125px;
	}
	.item-client {
		height: 125px;
	}
	.clients {
		padding-bottom: 55px;
	}
	.contact-block {
		font-size: 12px;
	}
	.footer__nav_big a, .footer__title {
		font-size: 15px;
	}
	.footer {
		font-size: 13px;
		line-height: 21px;
	}
	.footer__line .btn-page {
		margin-right: 25px;
	}
	.footer__contacts {
		padding-left: 0;
	}
	.header.nav-up {
		transform: translateY(-165px);
	}
	.wrapper {
		padding-top: 162px;
	}
	.descr-section {
		font-size: 16px;
		max-width: 760px;
	}
	.row_categories > div:nth-child(3) .item-category__image {
		bottom: -24px;
	}
	.page-contacts .content-section {
		padding-left: 34px;
		padding-right: 25px;
	}
	.item-news__image {
		height: 200px;
		border-radius: 25px 25px 0px 0px;
	}
	.item-news__image img {
		border-radius: 25px 25px 0px 0px;
	}
	.item-news {
		border-radius: 25px;
	}
	.item-news__content {
		padding: 20px 20px;
	}
	.article-content h1 {
		font-size: 32px;
		line-height: 49px;
	}
	.article-content ul {
		padding-bottom: 10px;
	}
	.item-portfolio__image {
		height: 350px;
	}
	.item-sertificat {
		height: 275px;
	}
	.page-sertificats .title-section {
		padding-bottom: 30px;
	}
	.item-nav__head {
		font-size: 16px;
		line-height: 24px;
	}
	.item-nav__content li {
		margin-bottom: 20px;
	}
	.card-info {
		padding-bottom: 30px;
		margin-right: 0;
	}
	.item-approach {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.card-aproach {
		padding: 34px 47px;
		padding-bottom: 15px;
	}
	.title-middle {
		font-size: 28px;
		line-height: 40px;
	}
	.text-card {
		padding-bottom: 0;
	}
	.item-doc__icon {
		width: 100px;
		height: 100px;
		margin-right: 15px;
	}
	.item-doc {
		font-size: 14px;
		line-height: 20px;
	}
	.slider-catalog .slick-prev, .slider-portfolio .slick-prev {
		left: -12px;
	}
	.slider-catalog .slick-next, .slider-portfolio .slick-next {
		right: -12px;
	}
	.text-card {
		font-size: 14px;
		line-height: 20px;
	}
	.consultation {
		padding-top: 45px;
		padding-bottom: 60px;
	}
	.content-dropdown {
		padding: 34px 40px;
		padding-bottom: 10px;
	}
	.list-nav,
	.content-dropdown .title-flash {
		font-size: 16px;
		line-height: 23px;
	}
	.thanks-block__image img {
		max-width: 1110px;
	}
	.thanks-block {
		padding-top: 35px;
		padding-left: 60px;
	}
	.thanks-block__title {
		font-size: 50px;
		line-height: 63px;
	}
	.thanks-block__descr {
		font-size: 24px;
		line-height: 35px;
		padding-bottom: 35px;
		max-width: 325px;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.logo img {
		width: 175px;
	}
	.header {
		font-size: 12px;
	}
	.phones-list {
		font-size: 13px;
	}
	.social-list li {
		margin-right: 11px;
	}
	.btn-call {
		width: 40px;
		height: 40px;
		margin-left: 13px;
	}
	.social-list img {
		max-width: 18px;
	}
	.search-form input {
		width: 135px;
	}
	.menu {
		margin: 0 25px;
	}
	.menu a {
		height: 70px;
	}
	.header__top {
		padding: 9px 0;
	}
	.header.nav-up {
		transform: translateY(-130px);
	}
	.wrapper {
		padding-top: 128px;
	}
	.location-main strong {
		font-size: 14px;
	}
	.location-main__value {
		padding-left: 18px;
	}
	.descr-big {
		font-size: 28px;
		line-height: 37px;
	}
	.title-big {
		font-size: 47px;
		line-height: 69px;
	}
	.descr-middle {
		font-size: 22px;
		line-height: 34px;
	}
	.billbord .descr-middle {
		margin-bottom: 25px;
		max-width: 309px;
	}
	.name-form {
		font-size: 16px;
		line-height: 26px;
	}
	.billbord {
		padding-top: 55px;
		padding-bottom: 25px;
		min-height: 525px;
	}
	.advantages {
		padding-top: 45px;
		padding-bottom: 300px;
	}
	.item-category__image {
		transform: scale(0.6);
	}
	.item-category {
		min-height: 315px;
	}
	.categories .content-section::after {
		width: 700px;
		height: 700px;
		top: 80px;
	}
	.selection-block__left {
		z-index: 3;
	}
	.selection-block {
		padding: 35px 25px;
	}
	.title-block {
		font-size: 25px;
		line-height: 40px;
	}
	.descr-block {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 20px;
	}
	.selection-block .list-page {
		max-width: 340px;
	}
	.catalog {
		padding-bottom: 50px;
	}
	.title-section {
		font-size: 27px;
		line-height: 42px;
	}
	.dealer-block .title-section {
		padding-bottom: 30px;
	} 
	.dealer-block {
		padding: 30px 35px;
	}
	.dealer-block__image img {
		max-width: 1155px;
	}
	.about .row_advantages > div {
		margin-bottom: 50px;
		padding: 0 15px;
	}
	.about .row_advantages {
		margin: 0 -15px;
	}
	.image-map img {
		max-width: 480px;
	}
	.row_team {
		margin: 0 -4px;
	}
	.row_team > div {
		padding: 0 4px;
		margin-top: 15px;
	}
	.item-team__title {
		font-size: 16px;
	}
	.item-team__image {
		height: 135px;
	}
	.about-team {
		margin-top: 20px;
		margin-bottom: 50px;
		max-width: 215px;
	}
	.item-client {
		height: 110px;
	}
	.consultation-block {
		padding: 40px;
	}
	.title-main {
		font-size: 34px;
		line-height: 50px;
		margin-bottom: 25px;
	}
	.consultation-block .descr-block {
		margin-bottom: 30px;
	}
	.contact-block::before {
		border-radius: 0px 60px 0px 0px;
	}
	.contact-block {
		line-height: 18px;
	}
	.footer__line .btn-page {
		margin-right: 9px;
	}
	.title-flash {
		font-size: 17px;
		line-height: 24px;
		margin-bottom: 10px;
	}
	.item-news__image {
		height: 170px;
	}
	.item-news__date {
		font-size: 13px;
		padding: 5px 13px;
	}
	.item-news__text {
		font-size: 14px;
		line-height: 23px;
	}
	.page-numbers {
		font-size: 14px;
		margin: 0 15px;
	}
	.article-content p,
	.article-content ul li {
		margin-bottom: 15px;
	}
	.article-content ol {
		padding-bottom: 15px;
	}
	.article .title-section {
		padding-bottom: 25px;
	}
	.article-content {
		padding-bottom: 30px;
	}
	.article-content img {
		margin-bottom: 30px;
	}
	.item-portfolio__image {
		height: 285px;
	}
	.item-portfolio {
		margin-bottom: 25px;
	}
	.page-portfolio {
		padding-bottom: 45px;
	}
	.page-portfolio .pager {
		margin-top: 35px;
	}
	.tabs li {
		padding: 0 5px;
	}
	.tabs {
		margin: 0 -5px;
	}
	.col-main {
		padding: 0 7px;
	}
	.row_sertificats {
		margin: 0 -7px;
	}
	.item-sertificat {
		height: 210px;
		margin-bottom: 14px;
	}
	.page-sertificats .content-section {
		padding-bottom: 30px;
	}
	.page-about .content-section {
		margin-bottom: 50px;
		padding-bottom: 25px;
	}
	.page-about .dealer-block {
		font-size: 14px;
		line-height: 19px;
	}
	.team-about .content-section {
		padding-left: 30px;
		padding-right: 30px;
	}
	.slider-nav__item {
		height: 105px;
		margin-bottom: 10px;
	}
	.card .content-section {
		padding: 25px 20px;
	}
	.card .title-section {
		padding-bottom: 25px;
	}
	.feature-card {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	.slider-for {
		margin-left: -45px;
		margin-right: 30px;
	}
	.slider-for__item {
		height: 390px;
		padding: 0 30px;
	}
	.card-info {
		padding: 20px;
		margin-left: -45px;
	}
	.price-card {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.header.fixed .search-form.show-fixed {
		display: none;
	}
	.content-dropdown {
		padding: 30px 20px;
		padding-bottom: 10px;
	}
	.thanks-block__image img {
		max-width: 800px;
	}
	.thanks-block__title {
		font-size: 42px;
		line-height: 45px;
	}
	.thanks-block__descr {
		font-size: 22px;
		line-height: 32px;
		padding-bottom: 30px;
		max-width: 295px;
	}
	.thanks-block {
		padding-left: 45px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__bottom,
	.header__wrapper .location-main,
	.header__wrapper .header__info,
	.header__wrapper .btn-page,
	.header__wrapper .header__contacts {
		display: none;
	}
	.wrapper {
		padding-top: 54px;
	}
	.header {
		transform: none !important;
	}
	.descr-big {
		font-size: 22px;
		line-height: 33px;
	}
	.item-advantage__head {
		margin-bottom: 15px;
	}
	.item-advantage__title {
		font-size: 20px;
		line-height: 32px;
	}
	.item-advantage__icon {
		margin-right: 15px;
	}
	.item-advantage {
		margin-bottom: 15px;
	}
	.advantages {
		padding-bottom: 270px;
	}
	.selection {
		padding-top: 45px;
		padding-bottom: 35px;
	}
	.selection-block__image img {
		max-width: 400px;
	}
	.selection-block__image {
		bottom: -36px;
		left: 0;
	}
	.selection-block .list-page {
		max-width: 100%;
	}
	.item-dealer__image {
		height: 45px;
	}
	.item-dealer {
		padding: 20px 20px;
		margin-bottom: 25px;
		height: 130px;
	}
	.image-sertificat {
		max-width: 320px;
	}
	.dealer-block__image {
		left: 0;
	}
	.dealer-block__image img {
		max-width: 900px;
	}
	.title-section_advantages {
		padding-bottom: 15px;
	}
	.about .row_advantages > div {
		margin-bottom: 25px;
	}
	.image-map {
		right: -100px;
		top: auto;
		bottom: -30px;
	}
	.about-team {
		margin-bottom: 20px;
		max-width: 100%;
	}
	.item-number {
		margin-top: 10px;
		margin-left: 0;
	}
	.team {
		padding-bottom: 55px;
	}
	.clients .title-section {
		padding-bottom: 25px;
	}
	.contact-block {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: auto;
		padding-bottom: 30px;
		font-size: 14px;
		line-height: 20px;
	}
	.consultation {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	#map {
		height: 390px;
	}
	.footer__contacts,
	.col_pl {
		padding-left: 15px;
	}
	.footer__line {
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.footer .logo img {
		width: 220px;
	}
	.footer {
		font-size: 14px;
		padding-top: 30px;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer__title,
	.footer__nav_big a {
		padding: 10px 0;
		border-bottom: 1px solid #F5F5F5;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer__title i {
		font-size: 12px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer__content {
		display: none;
		padding-top: 15px;
	}
	.phones-list {
		font-size: 14px;
	}
	.footer .phones-list {
		margin: 15px 0;
	}
	.footer-bottom {
		font-size: 13px;
		text-align: center;
		border: none;
		margin-top: 0;
	}
	.create {
		justify-content: center;
	}
	.footer-bottom .row > div {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.btn_top {
		float: none;
	}
	.item-team__image {
		height: 195px;
	}
	.logo img {
		width: 190px;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background: #21355E;
		position: absolute;
	}
	.menu a {
		margin: 0;
		padding: 10px 0;
		height: auto;
		text-align: left;
		word-spacing: initial;
		display: block;
		position: relative;
		border-bottom: 1px solid #F5F5F5;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}
	.search-form {
		margin-bottom: 10px;
	}
	.search-form input {
		width: auto;
		flex: 1;
	}
	.header {
		font-size: 14px;
	}
	.menu-mobile .header__info,
	.menu-mobile .location-main {
		margin-bottom: 15px;
	}
	.menu-mobile .header__contacts {
		margin-top: 15px;
	}
	.menu-mobile .social-list li {
		margin-right: 15px;
	}
	.menu a::before,
	.menu a::after {
		display: none;
	}
	.categories .content-section::after {
		display: none;
	}
	.content-section {
		border-radius: 20px;
	}
	.social-list li {
		margin-right: 17px;
	}
	.footer__line .btn-page {
		margin-right: 23px;
	}
	.page-contacts .content-section {
		padding: 35px 35px;
	}
	.page-contacts .block-form {
		float: none;
		margin: 0 auto;
		margin-top: 25px;
	}
	.page-contacts__item {
		margin-top: 30px;
	}
	.pager {
		margin-top: 0;
	}
	.page-news {
		padding-bottom: 40px;
	}
	.article-content .row_images img {
		margin-top: 15px;
	}
	.row_images {
		margin: 0 -5px;
	}
	.row_images > div {
		padding: 0 5px;
	}
	.item-portfolio__image {
		height: 370px;
	}
	.page-portfolio .title-section {
		padding-bottom: 20px;
	}
	.col-main {
		width: 25%;
	}
	.tabs a {
		font-size: 12px;
		line-height: 18px;
	}
	.tab-container {
		padding-top: 25px;
	}
	.page-about .content-section .title-section {
		margin-bottom: 10px;
	}
	.page-about .content-section img {
		margin-top: 10px;
	}
	.page-catalog .content-section {
		padding-right: 0;
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.item-nav {
		margin-right: 0;
	}
	.page-catalog .content-section .col-lg-8.col_pl {
		padding-right: 15px;
	}
	.content-catalog {
		margin: 0;
		padding: 10px 20px;
	}
	.tabs.tabs_catalog a {
		height: 42px;
	}
	.nav-wrapper {
		display: none;
	}
	.btn-main_filter {
		margin: 0 20px;
		display: flex;
		justify-content: space-between;
	}
	.slider-nav {
		max-width: 100%;
	}
	.col_for {
		order: -1;
	}
	.slider-for {
		margin: 0;
	}
	.slider-nav__item {
		margin: 0 5px;
	}
	.slider-nav {
		margin: 0 -5px;
	}
	.card-info {
		margin: 0;
		margin-top: 20px;
	}
	.card .title-section {
		padding-bottom: 15px;
	}
	.text-card {
		padding-top: 15px;
	}
	.card-aproach {
		margin-bottom: 25px;
	}
	.title-middle {
		font-size: 22px;
		line-height: 32px;
	}
	.text-card img {
		max-width: 40%;
		margin-left: 15px;
		margin-bottom: 15px;
	}
	.item-doc {
		margin-top: 15px;
	}
	.documents-card {
		padding-top: 20px;
	}
	.sandwich_catalog {
		display: none;
	}
	.header.fixed .show-fixed {
		display: none;
	}
	.header.fixed .logo.hidden-fixed {
		display: inline-block;
	}
	.menu-mobile .menu li ul {
		padding-left: 15px;
		display: none;
	}
	.menu-mobile .menu li {
		position: relative;
	}
	.menu-mobile .menu li i {
		position: absolute;
		top: 0;
		right: 0;
		width: 41px;
		height: 41px;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s;
	}
	.menu-mobile .menu li i.active {
		transform: rotate(180deg);
	}
	.menu-mobile .location-main__dropdown {
		position: relative;
		top: 0;
		visibility: visible;
		opacity: 1;
		transition: inherit;
		padding: 0;
		padding-left: 15px;
		display: none;
	}
	.location-main:hover .location-main__value i {
		transform: rotate(0deg);
	}
	.location-main__value.active i {
		transform: rotate(180deg) !important;
	}
	.thanks-block__image img {
		max-width: 100%;
	}
	.thanks-block__image {
		padding-top: 0;
		margin-top: -100px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-big {
		font-size: 37px;
		line-height: 56px;
	}
	.descr-big {
		font-size: 18px;
		line-height: 28px;
	}
	.descr-middle {
		font-size: 18px;
		line-height: 30px;
	}
	.billbord .descr-middle {
		max-width: 250px;
	}
	.line-form .item-form {
		width: 230px;
	}
	.billbord {
		padding-top: 90px;
		padding-bottom: 50px;
		min-height: 470px;
		background-position: 60% 0%;
	}
	.selection-block__image {
		display: none;
	}
	.selection-block__right {
		justify-content: center;
	}
	.title-section {
		font-size: 25px;
		line-height: 38px;
	}
	.head-section {
		display: block;
	}
	.head-section .title-section {
		margin-bottom: 15px;
	}
	.dealer-block .title-section {
		font-size: 22px;
		line-height: 33px;
		padding-bottom: 20px;
	}
	.item-team__image {
		height: 215px;
	}
	.image-map {
		display: none;
	}
	.slider-clients .slick-slide {
		padding: 0 5px;
	}
	.slider-clients {
		margin: 0 -5px;
		padding-bottom: 40px;
	}
	.slick-prev {
		left: 5px;
	}
	.slick-next {
		right: 5px;
	}
	.clients {
		padding-top: 35px;
		padding-bottom: 40px;
	}
	.item-client {
		height: 90px;
		padding: 15px;
	}
	.title-main {
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 15px;
	}
	.consultation-block {
		padding: 25px;
		border-radius: 25px;
	}
	.search-form input {
		height: 28px;
		font-size: 14px;
	} 
	.item-team {
		max-width: 320px;
		margin: 0 auto;
	}
	.page-contacts__left br + br {
		display: none;
	}
	.page-contacts__item:first-child,
	.page-contacts__item {
		margin-top: 25px;
	}
	.item-news__image {
		height: 250px;
	}
	.row_news > div {
		margin-bottom: 25px;
	}
	.pager {
		margin-top: 15px;
	}
	.breadcrumbs {
		padding-top: 15px;
	}
	.article-content h1 {
		font-size: 26px;
		line-height: 36px;
	}
	.article-content time {
		padding: 7px 12px;
		margin-top: 8px;
		margin-bottom: 13px;
	}
	.article-content ul li {
		padding-left: 35px;
	}
	.page-portfolio .content-section {
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.item-portfolio__image {
		height: 270px;
		border-radius: 10px
	}
	.item-portfolio__image img {
		border-radius: 10px;
	}
	.tabs {
		margin-right: -30px;
		padding-bottom: 10px;
		overflow: auto;
	}
	.tabs a {
		font-size: 14px;
		line-height: 20px;
		width: 250px;
	}
	.tabs::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.tabs::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.tabs::-webkit-scrollbar-thumb {
		background-color: #09B2B2;
		border-radius: 10px;
	}
	.tabs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #ccc;
	}
	.page-sertificats .title-section {
		padding-bottom: 19px;
	}
	.col-main {
		width: 50%;
	}
	.item-sertificat {
		height: 245px;
	}
	.page-sertificats {
		padding-bottom: 50px;
	}
	.dealer-block::before {
		border-radius: 50px 0px 0px 0px;
	}
	.page-about .dealer-block .title-small {
		margin-bottom: 15px;
	}
	.title-small {
		font-size: 18px;
		line-height: 25px;
	}
	.page-about .dealer-block .col-xl-8 img {
		margin-top: 10px;
	}
	.team-about {
		padding-bottom: 40px;
	}
	.tabs.tabs_catalog {
		margin-right: 0px;
	}
	.tabs.tabs_catalog a {
		width: auto;
	}
	.section-text .title-small {
		padding-bottom: 15px;
	}
	.section-text {
		padding-bottom: 40px;
	}
	.technical-feautre {
		font-size: 14px;
	}
	.card-aproach {
		padding: 30px 15px;
		padding-bottom: 10px;
		border-radius: 20px;
	}
	.item-approach {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 22px;
	}
	.thanks-block__title {
		font-size: 35px;
		line-height: 35px;
	}
	.thanks-block__descr {
		font-size: 18px;
		line-height: 28px;
		padding-bottom: 20px;
		max-width: 243px;
	}
	.thanks-block__image {
		margin-top: -65px;
	}
	.thanks-block__left {
		padding-right: 30px;
	}
	.breadcrumbs {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		padding: 13px 0;
		margin: 0 -15px;
		padding-left: 15px;
		margin-bottom: 10px;
	}
	.breadcrumbs li {
		padding: 9px 10px;
		background: #fff;
		box-shadow: 0 0 4px #ddd;
		border-radius: 30px;
		margin-right: 10px;
	}
	.breadcrumbs li::after,
	.breadcrumbs li span {
		display: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 29px;
		line-height: 48px;
	}
	.line-form {
		display: block; 
	}
	.line-form .item-form {
		width: 100%;
		margin: 0;
		margin-bottom: 16px;
	}
	.line-form .btn-main {
		width: 100%;
	}
	.billbord .checkbox {
		display: flex;
		justify-content: center;
	}
	.billbord {
		padding-top: 40px;
	}
	.descr-section {
		font-size: 14px;
	}
	.billbord .descr-big {
		margin-bottom: 25px;
	}
	.content-section {
		padding: 25px 15px;
	}
	.selection-block {
		padding: 25px 15px;
	}
	.title-block {
		font-size: 22px;
		line-height: 32px;
	}
	.descr-block {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	.block-form {
		padding: 25px 15px;
	}
	.descr-form {
		margin-left: 0px;
		margin-right: 0px;
	}
	.dealer-block {
		padding: 25px 15px;
	}
	.dealer-block::before {
		border-radius: 40px 0px 0px 0px;
	}
	.dealer-block .title-section {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 0;
	}
	.about .row_advantages > div {
		margin-bottom: 0;
	}
	.title-section {
		font-size: 22px;
		line-height: 33px;
	}
	.item-team__image {
		height: 185px;
	}
	.consultation {
		padding-bottom: 40px;
	}
	.contact-block .btn-main {
		margin-top: 20px;
	}
	.about-team .descr-block {
		font-size: 15px;
		line-height: 22px;
	}
	.team {
		padding-bottom: 45px;
	}
	.name-form {
		font-size: 13px;
		line-height: 23px;
		text-align: center;
	}
	.item-advantage__icon {
		width: 60px;
		height: 60px;
	}
	.page-contacts .content-section {
		padding: 25px 25px;
		padding-bottom: 0;
	}
	.title-flash::before {
		margin-right: 2px;
	}
	.page-contacts .block-form {
		margin-left: -25px;
		margin-right: -25px;
		width: auto;
		max-width: initial;
	}
	.item-news__image {
		height: 215px;
	}
	.page-numbers {
		margin: 0 13px;
	}
	.page-portfolio .title-section {
		padding-bottom: 15px;
	}
	.item-portfolio__image {
		height: 220px;
	}
	.item-portfolio p {
		margin-bottom: 10px;
	}
	.tabs {
		margin-right: -15px;
	}
	.item-sertificat {
		height: 210px;
	}
	.text-big {
		font-size: 15px;
	}
	.page-about .dealer-block p {
		margin-bottom: 15px;
	}
	.team-about .content-section {
		padding-left: 20px;
		padding-right: 20px;
	}
	.team-about .content-section {
		margin-top: -105px;
	}
	.page-about {
		padding-top: 40px;
	}
	.team-about .title-section {
		font-size: 20px;
		line-height: 30px;
	}
	.clients {
		padding-top: 30px;
		padding-bottom: 35px;
	}
	#map {
		height: 350px;
	}
	.contact-block::before {
		border-radius: 0px 30px 0px 0px;
	}
	.section-text {
		padding-top: 25px;
	}
	.slider-for__item {
		height: 275px;
	}
	.slider-nav__item {
		height: 85px;
	}
	.card .content-section {
		padding: 25px 15px;
	}
	.feature-card {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 12px;
	}
	.card-info {
		padding: 18px 12px;
	}
	.features-card {
		margin-bottom: 20px;
	}
	.technical-info {
		padding: 11px 15px;
	}
	.technical-feautre {
		font-size: 13px;
	}
	.row_technicals {
		margin-bottom: 30px;
	}
	.title-middle {
		font-size: 20px;
		line-height: 30px;
	}
	.recommendation-card .content-section .title-middle {
		padding-bottom: 15px;
	}
	.slider-portfolio {
		margin-bottom: 20px;
	}
	.slider-catalog {
		padding-bottom: 30px;
	}
	.thanks-block {
		padding-left: 25px;
		padding-top: 25px;
	}
	.thanks-block__image {
		margin-top: -40px;
		margin-left: -20px;
	}
	.consultation-block_help .title-main {
		font-size: 20px;
		line-height: 30px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.nav-wrapper,
	.footer__content {
		display: block !important;
	}
	.menu-mobile,
	.sandwich_menu {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1300px) {
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1560px) {
	.container {
		max-width: 1470px;
	}
}